.search-bar {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 28rem;
  width: 90%;
  text-align: center;
  background-color: #f2f2f2;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5rem auto;
}
