.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 220px;

  &-modal {
    @extend .card;
    max-width: 770px;
  }

  &-cover {
    max-height: 100px;
    max-width: 150px;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);

    &-modal {
      @extend .card-cover;
      max-height: 400px;
      max-width: 450px;

      @media (max-width: 520px) {
        max-height: 200px;
        max-width: 250px;
      }
    }
  }


  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h2 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0.5rem;
    }

    & p {
      margin-bottom: 0.5rem;
    }
  }

  &-description {
    overflow-y: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: justify;
  }

  &-meta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;

    & p {
      font-size: 0.8rem;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;

    & span {
      font-size: 0.8rem;
      font-weight: bold;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid black;
      border-radius: 5px;
    }
  }

  &-level {

    & p {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  &-details {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }

  &-details p {
    font-size: 0.8rem;
  }
}

.btns {
  display: flex;
  gap: 10px;
  font-size: .8rem;
}
