.form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 35rem;
  width: 90%;
  text-align: center;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5rem auto;
}
