.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto-Regular, sans-serif;
}

.main {
  flex-grow: 1;
  width: 95%;
  max-width: 85rem;
  margin: 0 auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

body,
p {
  padding: 0;
  margin: 0;
}

html {
  /*font-size: 10px;*/
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}
